.BoardPermament {
    position: absolute;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 78%;
    width: 100%;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0px 15px 15px 1px rgba(101,0,160,0.5),1px 5px 5px 0px rgba(101,0,160,0.8),-1px 5px 5px 0px rgba(101,0,160,0.5);
}

.tableBoard {
    user-select: none;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(124, 43, 161, 0.75);
    border: 0.2rem solid #6d00d1;
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    
}
.CanvasBoard {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #b65fe5;
    z-index: 0;
    border-radius: inherit;
   
}

.hidden{
    display:none
}
.row{
    width:100%;
}
.cell{
    position:relative;
    width:10%;
    border-radius:0.1rem;
    border: 0.5px solid rgba(0,0,0,0.6);
}
.CanvasGame{
    display:none
}
.countdown {
    border: 0px solid black;
    position: absolute;
    width: 30%;
    height: 15%;
    top: 35%;
    left: 35%
}
.countdownText{
    width:100%;
    font-size:8rem;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    padding-top:5%;
    padding-bottom:10%;
    font-family:"Cascadia Code";

}
/*startButton style*/
.startButton {
    position:relative;
    width:17%;
    height:0%;
    padding-bottom:17%;
    transform:translate(-50%,-50%);
    left:50%;
    top:50%;
    z-index:1;
}
.startButtonSvg{
    position:absolute;
    width:100%;
    height:100%;
    fill:#ffacf8;
    stroke:#f78cff;
    stroke-width:0.5rem;
    padding-top:5px;
    padding-bottom:5px
}
#startButton:hover {
    width: 19%;
    height: 0%;
    padding-bottom: 19%;
}
    #startButton:hover #startButtonSvg {
        stroke: #6d00d1;
        stroke-width: 0.8rem;
    }


/*Game over screen style:*/
.overScreenContainer {
    position: relative;
    width: 100%;
    height: 55%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 2;
    animation: fadein 5s;
}

.gameOver {
    position: absolute;
    width:200%;
    left:-50%;
    top:-3.5rem;
    font-size: 7rem;
    white-space:nowrap;
    text-align:center;
    color:#680e82;

}
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.replayButtonHolder {
    display: inline-block;
    position: relative;
    width: 11rem;
    height: 11rem;
    transform:translate(-50%);
    top:20%;
    left:50%;
}
.refreshButtonSvg {
    position: absolute;
    height: inherit;
    width:inherit;
    left:0%;
    top: -25%;
    stroke: #191919;
}

.refreshButtonSvg:hover{
    transform-origin: center;
    animation: antiprogress 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes antiprogress {
    from{
        
        transform:rotate(0deg);
    }
    to{
        transform:rotate(-360deg);
    }
}
/*Pause button style*/
.pauseScreen {
    position: relative;
    display: inline-block;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 80%;
    height: 30%;
    z-index: 2;
}
.pauseButton {
    position:absolute;
    width:50%;
    height:50%;
    transform:translateX(-50%);
    left:49%;
    bottom:55%;
    stroke:white;
    stroke-width:0.3px;
}
.pauseButton:hover{
    stroke:white;
    stroke-width:0.5px;
}
.pauseButton>path{
    fill:#f2c3ff;
}
