@use 'sass:math';
@mixin generatePos($position:relative,$width:100%,$height:100%, $left:0%,$top:0%){
    position:$position;
    width:$width;
    height:$height;
    left:$left;
    top:$top;
}
$holder-color:#e49fee;
$holder-border-color: #b33fdf;
.leaderBoardButtonHolder {
    box-sizing: border-box;
    $local-square: 25%;
    position: absolute;
    top: 40%;
    left: 10%;
    width: $local-square;
    height: 0%;
    padding-bottom: $local-square - 3%;
    margin: 0 auto;
    border: 0.5rem solid;
    border-color: $holder-border-color;
    border-radius: 50%;
    background: $holder-color;
    perspective: 1000px;
    box-shadow:2px 4px 10px 0px rgba(0,0,0,0.4);
    & > svg {
        transition: 1000ms transform ease-in-out;
    }

    &:hover {
        > svg {
            transform: rotate3d(0.1,1,0.1,-30deg);
        }
    }
}
.leaderBoardButton {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    object-fit: cover;

    & > path {
        stroke: $holder-border-color;
    }
}
$container-border-color:#f4acff;
$container-background-color:#9233cb;
.leaderBoardContainer {
    box-sizing: border-box; 
    position: absolute;
    background: $container-background-color;
    width: 40%;
    height: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    border: 0.45rem solid $container-border-color;
    border-radius: 1.5rem;
    z-index:3;

}
.leaderBoardProper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: inherit;
    box-sizing: border-box;
}
/*Tab holder for the leaderboard (local, global, close cross)*/
.leaderTabHolder {
    position: relative;
    width: 100%;
    height: 6%;
    box-sizing:border-box;
    border-bottom:0.4rem solid $container-border-color;
    & > div {
        float: left;
        display: block;
        position: relative;
        height:100%;
        box-sizing:border-box;
    }
}
.leaderTab {
    width: 47%;
    border-right: 0.3rem solid $container-border-color;
    &.up{
        background:#2b2b2b50;
    }
    &.global{
        border-top-left-radius:1rem;
    }
}
.leaderImgContainer{
    position:relative;
    height:100%;
    width:20%;
    padding: 1% 35% 1% 35%;
}
.leaderSVG {
    position:relative;
    width:auto;
    left:20%;
}
.leaderSVG.local {
    height: 88%;
    width: auto;
    object-fit: contain;
    fill: $container-background-color;

    & > path {
        stroke: #e09fea;
    }
}
.leaderSVG.global{
    height:90%;
    width:auto;
    background:$container-background-color;
    border-radius:50%;
    &>path{
        fill:#e09fea;
    }
}
.leaderBoardCrossHolder {
    position:relative;
    display:block;
    width:6%;
    float:left;
    height:100%;
    border-radius:0.5rem;

}
.settingsCross.leader {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100%;

    & > g > line {
        stroke-width: 2px;
        stroke: $container-border-color;
    }

    &:hover {
        & > g > line {
            stroke-width: 2.5px;
            stroke: $container-border-color;
        }
    }
}
/*SpotHolder*/
$slotMargin: 0.4rem;
.spotsHolder{
    box-sizing:border-box;
    position:relative;
    width:100%;
    height:89%;
    box-sizing:border-box;
    border-bottom:0.3rem solid $container-border-color;
    border-bottom-left-radius:0.2rem;
    border-bottom-right-radius:0.2rem;

}
.leaderSlotHolder {
    box-sizing:border-box;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-rows: repeat(5, 20%);
    gap: $slotMargin;
    padding: $slotMargin 0.2rem $slotMargin 0.2rem;
}
.leaderSlotProper {
    box-sizing: border-box;
    border-radius: 2rem;
    position: relative;
    height: 100%;
    width: 100%;
    background: #752ca0;
    & > span {
        display: block;
    }
}
.leaderSlot {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    border-radius: inherit;
    width: 99%;
    left: 0.5%;
    height: 96%;
    top: 2%;
    border: 0.3rem solid #f4acff;
    background: #b33fdf;

    & > span {
        text-align: center;
        display: block
    }

    & > div {
        display: inline-block;
        box-sizing: border-box;
        float: left;
        position: relative;
    }
}
.slotAvatarContainer {
    margin: 0 0 0 1.5%;
    height: 100%;
    width: 0%;
    padding-left: 19%;
    border-radius: 1rem;
    & > img {
        position: absolute;
        left: 0%;
        transform:translateY(-50%);
        top:50%;
        margin-left: 0.4rem;
        width: 86%;
        border-radius: 2rem;
    }
}
.slotStatContainer {
    width: 76%;
    margin: 1% 0.5% 1% 0.5%;
    height: 90%;
    border-radius: 1rem;
    &>div{
        font-family:"Cascadia Code";
        color:#b317ed;
    }
}
.slotTitle, .slotBig, .slotSmall {
    float: left;
    position: relative;
    width: 71%;
    margin-left:1%;
}
.slotScore {
    position: relative;
    float: right;
    height: 100%;
    width: 27%;
    text-align: center;

    & > * {
        left: 0%;
        position: absolute;
        border-radius: 1rem;
        background: #f4acff;
    }

    & > span {
        width:95%;
        left:5%;
        font-size: 1.1rem;
        top: 23%;
        margin-bottom: 5%;
    }

    & > div {
        top: 47%;
        width: 105%;
        font-size: 1.5rem;
        min-height: 1.8rem;
        max-height: max-content;
    }
}
.slotTitle{
    height:25%;
    margin-left:1%;
    text-align:center;
    &>span{
        border-radius:1rem;
        position:relative;
        font-size:1.2rem;
        min-width:1rem;
        max-width:max-content;
        padding: 0 2rem 0 2rem;
        background:#f4acff;
    }
}
.slotBig{
    width:71%;
    height:50%;
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap:5px;
}
.slotSmall {
    width: 71%;
    height: 25%;
    margin-top: 1.5%;
    & > span {
        border-radius: 1rem;
        background: #f4acff;
        float: left;
        width: 48%;
        margin-left:0.6%;
        text-align: center;
    }
}
#first{
    margin-right:2.3%;
}
.slotTableAndNumber{
    border-radius:1rem;
    background-color:#f4acff;
    &>*{
        display:inline-block;
        float:left;
    }
    &>span{
        padding-top:1%;
        font-size:1.2rem;
    }
    &>div{
        margin:1% 25% 0 10%;
    }
}
/*LeaderBoardArrowHolder style...*/
.leaderArrowHolder {
    position: relative;
    width: 100%;
    height: 5%;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}
.leaderArrowContainer{
    float:left;
    position:relative;
    width:50%;
    height:100%;
}
.leaderArrowMiniHolder{
    $square-side:15%;
    position:relative;
    height:100%;
    width:15%;
    &.left{
        float:right;
        right:0.5%;
        bottom:0;
    }
    &.right{
        float:left;
        left:0.5%
    }
}
.leaderArrow {
    position: absolute;
    height: 93%;
    width: auto;
    background: #8352ff;
    border-radius: 50%;
    top:3%;
    & > g > g > path {
        fill: $container-border-color;
        stroke-width: 4px;
    }

    &.left {
        right: 0;
    }

    &.right {
        left: 0;
    }
}
/*ScoreBoard style*/
$score-screen-border:#b317ed;
$score-screen-background:#f4acff;
.scoreScreenHolder{
    font-family:"Cascadia Code";
    position:relative;
    width:28%;
    height:20%;
    background:$container-border-color;
    top:45%;
    border:0.3rem solid $score-screen-border;
    border-radius:1.6rem;
    animation: fadeItIn 1.5s;
    box-sizing:border-box;
    transform:translateX(-50%);
    left:50%;
    z-index:2;
    display:inline-block;
}

.scoreScreenProper{
    position:relative;
    width:100%;
    height:100%;
    &>div{
        float:left;
        box-sizing:border-box;
    }
}
.bigHolder {
    display: block;
    width: 75%;
    height: 60%;
}
.avatarHolder {
    float:left;
    display:inline-block;
    border-radius: 0.8rem;
    position: relative;
    box-sizing: border-box;
    width: 22%;
    height: 100%;
}
.scoreAvatarWrapper {
    position: absolute;
    margin: 30% 0 0 10%;
    border-radius: 1rem;

    & > img {
        object-fit: contain;
        border-radius: inherit;
    }

    &.loading {
        background:$score-screen-border;
        width: 100px;
        height: 100px;
        &>svg{
            animation:antiprogress 5s linear infinite;
            &>g>g>g>path{
                fill:#f8d0fe;
            }
        }
    }
}
.nameDiv{
    position:relative;
    text-align:center;
    display:block;
    height:33%;
}
.scoreRow {
    position: relative;
    display: block;
    height: 30%;
    width:80%;
    margin: 0 10% 1.5% 2.5%;
    border-radius: 0.7rem;
    background-color:$score-screen-border;
}
.tableAndNumber {
    float: left;
    position:relative;
    width:50%;
    & > div {
        float: left;
        margin-top:0.2rem;
    }
    &>.internalTableDiv{
        width:40%;
        margin-left:15%;
    }
    &>.numberDiv{
        margin-top:0.3rem;
    }
}

.smallHolder {
    box-sizing: border-box;
    position: relative;
    height: 18%;
    width: 75%;
    margin-left: 2.5%;

    & > .constText {
        background: $score-screen-border;
        color: #f8d0fe;
        border-radius: 0.8rem;
        width: 45%;
        margin-right:8%;
    }

    &.first {
        margin-top: 1%;
    }

    & > div {
        position: relative;
        float: left;
        height: 80%;
    }

    & > .numberDiv {
        background: $score-screen-border;
        min-width:20%;
        max-width:30%;
        padding: 0 0.1rem 0 0.1rem;
    }
}
.numberDiv {
    text-align: center;
    color: #f8d0fe;
    border-radius: 0.6rem;
}
.constText{
    text-align:center;
}
@keyframes fadeItIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.checkMarkHolder {
    $local-width: 18%;
    position: relative;
    width: $local-width;
    height: 0%;
    padding-bottom: $local-width - 2%;
    border: 0.3rem solid #d369fb;
    background: $container-border-color;
    border-radius: 2.5rem;
    left:66%;
    bottom:34%;
    z-index:0;
    &:hover{
        &>svg>g>line{
            stroke-width:1.5px;
        }
    }
}
.checkMark{
    position:absolute;
    display:inline;
    top:0;
    left:0;
    width:100%;
    height:100%;
    stroke:white; 
    &>g>line{
        stroke:#f4e6ff
    }
    &>g>:hover{
            stroke-width:1px;
            &>*{
                stroke-width:1px;
            }
    }
}   
/*Styling that little pop up when incorrect name has been put in*/
$popUpBorder:#f8d0fe;
$popUpBackground:#a21bd4;
$popUpWidth:18vw;
.wrongPopUpHolder {
    color: #f8d0fe;
    position: absolute;
    min-width: $popUpWidth;
    width: max-content;
    height: $popUpWidth*0.1;
    text-align: center;
    display: inline-block;
    top: -5vh;
    left: 50%;
    transform: translateX(-50%);
    background: $popUpBackground;
    border: 0.21rem solid $popUpBorder;
    border-radius: 1.8rem;
    animation: fadeItIn 250ms;
    padding: 0 1rem 0 1rem;
    vertical-align: central;
    z-index:3;
    &::after{
        content:"";
        border-radius:1rem;
        border-top: 17px solid $popUpBorder;
        border-left:2rem solid transparent;
        border-right:2rem solid transparent;
        position:absolute;
        bottom:-17px;
        left:50%;
        transform:translateX(-50%);
    }
    & > span {
        position: relative;
        height: 100%;
        top: 0.3rem;
    }

    &.pop {
        animation: fadeItOut 1000ms;
        animation-delay: 1400ms;
        animation-fill-mode: forwards;
    }
}
@keyframes fadeItOut{
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}
.inputDiv {
    font-family: "Cascadia Code";
    box-sizing: border-box;
    -webkit-appearance: none;
    color: $score-screen-border;
    position: absolute;

    height: 1.5rem;
    top: 15%;
    left: 40%;
    transform: translateX(-50%);
    border: 2px solid $score-screen-border;
    border-radius: 0.8rem;
    background-color: #f9d4ff;
    text-align: center;
    transition: width 500ms, min-width 500ms;
    padding: 0 0.5rem 0 0.5rem;
    max-width:80%;
    &:hover {
        background-color: #f4e6ff;
        box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.15);
        border-width: 3px;
    }

    &:focus {
        background-color: #f4e6ff;
        box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.05);
        outline-color: $score-screen-border;
        border-width: 3px;
    }
}

.newLeaderContainer {
    box-sizing: border-box;
    min-width: 11rem;
    max-width: max-content;
    min-height: 4.1rem;
    background: $popUpBackground;
    border: 0.2rem solid $popUpBorder;
    border-radius: 1.3rem;
    padding: 0.2rem 0.8rem 0.4rem 0.8rem;
    transform: translateX(-50%);
    left: 50%;
    z-index: 1;
    animation: fadeItIn 1.5s;

    &.local {
        position:absolute;
        top: 31%;
    }

    &.global {
        position: relative;
        top: 19%;
    }

    &.pop {
        animation: fadeItOut 1000ms;
        animation-fill-mode: forwards;
    }

    & > span {
        font-family: "Cascadia Code";
        color: #f8d0fe;
        display: block;
        text-align: center;
    }
}

/*Avatar selector style (and it's avatars)*/
$centerAvatar: 8rem;
.scoreAvatarSelector {
    box-sizing: border-box;
    position: absolute;
    width: calc(100% + $centerAvatar);
    left: math.div(-$centerAvatar, 2);
    min-height: 60%;
    background: $score-screen-background;
    border: 0.3rem solid $score-screen-border;
    bottom: 105%;
    border-radius: 2rem;
    padding: 0.2rem 0.1rem 0.1rem 0.1rem;
}
.large {
    height: calc(100% + 22vh);
    &>.loading.selector{
        top:15%;
    }
}
.avatarPageContainer, .avatarPage {
    border-radius: inherit;
    background: inherit;
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
}
.avatarPage {
    display: flex;
    flex-flow: wrap-reverse;
    align-items:center;
    align-content: flex-start;
    & > * {
        box-sizing: border-box;
        border-radius: 0.8rem;
        position: relative;
        display: inline-block;
        margin: 0.1rem 1.4% 0.2rem 1.2%;
    }
}
.avatarContainer {
    width: 14%;
    height: 0%;
    padding-bottom: 14%;

    & > img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }
}
.addContainer {
    position: relative;
    box-sizing: border-box;
    display: inline;
    width: 13.5%;
    height: fit-content;
    border: 0.3rem solid $score-screen-border;
    background-color: #fce4ff;
    & > label > svg {
        background: white;
        position: relative;
        width: 100%;
        height: 1%;
        border-radius: 0.8rem;
        background-color: #fce4ff;
        top:0.1rem;
        & > g > line {
            stroke: $score-screen-border;
            stroke-width: 2.5px;
        }
    }
    &>div{
        padding:0 25% 0 25%;
    }
}
.filePopUp {
    box-sizing: border-box;
    position: absolute;
    height: 1.8rem;
    background: $popUpBackground;
    border: 0.2rem solid $popUpBorder;
    border-radius: 1rem;
    padding: 0 0.8rem 0 0.8rem;
    top: -2.7rem;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 8px 20px 5px rgba(140,20,252,0.3), 0 -8px 20px 0 rgba(140,20,252,0.3);
    animation: fadeItIn 500ms;
    & > span {
        position: relative;
        top: 0.1rem;
        white-space: nowrap;
        font-family: 'Cascadia Code';
        font-size: 1rem;
        color: $popUpBorder;
    }

    &::after {
        content: "";
        border-radius: 1rem;
        border-top: 0.8rem solid $popUpBorder;
        border-left: 2rem solid transparent;
        border-right: 2rem solid transparent;
        position: absolute;
        bottom: -0.8rem;
        left: 50%;
        transform: translateX(-50%);
    }

    &.pop {
        animation: fadeItOut 1500ms;
    }
}
input[type="file"] {
    display: none;
}

.wrongFormatPopup{
    display:inline-block;
    text-align:center;
    font-family:"Cascadia Code";
    color:$score-screen-border;
    position:absolute;
    height:1.8rem;
    min-width:50%;
    width:max-content;
    padding: 0 1.5rem 0 1.5rem;
    border: 0.2rem solid $score-screen-border;
    background: $score-screen-background;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    animation:fadeItIn 500ms;
    user-select:none;
    &>span{
        position:relative;
        top:5%;
    }
    &.pop{
        animation:fadeItOut 2s;
    }
}
.avatarCropperContainer {
    position: absolute;
    width: 70vw;
    height: 80vh;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 110%;
    border: 0.3rem solid $score-screen-border;
    background: $score-screen-background;
    border-radius: 1.8rem;
    z-index:3;
    & > div {
        float: left;
        position: relative;
        width: 100%;
        clear: both;
        box-sizing: border-box;
    }
}
.cropControls{
    height:10%;
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    border-bottom: 0.3rem solid $score-screen-border;
    &>*{
        position:relative;
        display:inline-block;
    }
}
.previewBig{
    height:80%;
}
.previewSmall{
    height:10%;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;
    border-top:0.3rem solid $score-screen-border;
}
.cropCrossWrapper {
    box-sizing:border-box;
    border: 0.25rem solid $score-screen-border;
    float: right;
    height: 3.3rem;
    max-height:85%;
    width: 3.4rem;
    margin: 0.5% 1% 0 0;
    border-radius: 0.8rem;
    & > svg {
        width: 100%;
        height: 100%;
        background: white;
        border-radius: inherit;
        background-color: #fce4ff;

        & > g > line {
            stroke: $score-screen-border;
            stroke-width: 2.5px;
        }
    }
}
.cropProper{
    margin: 0 5px 8px 5px;
    transform:translate(-50%,-50%);
    left:50%;
    top:50%;
}
.addContainer2 {
    box-sizing:border-box;
    float:left;
    height:3.3rem;
    max-height:85%;
    width:3.4rem;
    border-radius:0.8rem;
    display: inline-block;
    border: 0.25rem solid $score-screen-border;
    margin:0.5% 0 0 1%;
    & > label > svg {
        background: white;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;
        background-color: #fce4ff;

        & > g > line {
            stroke: $score-screen-border;
            stroke-width: 2.5px;
        }
    }
}
.cropText{
    font-family:"Cascadia Code";
    font-size:1.1rem;
    text-align:center;
    float:left;
    margin:0.7rem 0.8rem 0 0.8rem;
    width:85%;
    color:#853ab2;
    &>span{
        display:block;
    }
}
.cropHoldButtons {
    position: absolute;
    width: 30%;
    left: 35.5%;
    height: 100%;
    padding: 0 0.2rem 0 0.2rem;

    & > div {
        float:left;
        position: relative;
        min-width: 32%;
        min-height: 100%;
    }

    & :nth-child(1) > svg > g > path {
        fill: $score-screen-border;
    }
    & :nth-child(3){
        float:right;
    }
    & :nth-child(1){
        float:left;
    }
    & :nth-child(2) {
        padding: 0 1.5% 0 1.5%;

        svg {
            left: 25%;
            border: 0.2rem solid $score-screen-border;
        }

        & > svg > g > g > g > path {
            fill: $score-screen-border;
        }
    }

    & :nth-child(3) > svg > g > g > path {
        fill: $score-screen-border;
    }

    & :nth-child(3) > svg {
        left: 4%;
    }

    & :nth-child(1) > svg {
        right:7%;
    }
}
.cropButton {
    & > svg {
        top:5%;
        box-sizing: border-box;
        position: absolute;
        height: 90%;
        background: #f8d0fe;
        border-radius:100%;
    }
}
.canvasContainer{
    position:relative;
    width:100%;
    height:100%;
    padding:8px 5px 8px 5px;
    &>div{
        float:left;
        position:relative;
        height:100%;
    }
}
.previewBigCropped.first{
    width:32%;
}
.previewBigCropped.second{
    width:10%;
    padding: 0 0.5% 0 0.5%;
}
.previewBigCropped.third{
    width: 55%;
    margin-right:1%;
}
.previewBigCropped {
    & > * {
        position: relative;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;  
    }
}
.canvasPreview {
    max-width: 100%;
}
.previewWrapper{
    width:100%;
    height:28%;
}
.refreshContainer {
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    &.leader {
        width:15%;
        left: 100%;
        top: 9%;
        background: $container-background-color;
        border: solid $container-border-color;
        border-width: 0.3rem 0.3rem 0.3rem 0.4rem;
    }

    &.avatar {
        width:14%;
        top: 8%;
        left: calc(100% + 0.1rem);
        background: $container-border-color;
        border: solid $score-screen-border;
        border-width: 0.3rem 0.3rem 0.3rem 0.2rem;
        padding: 0.2rem;
        z-index: 2;

        & > svg > path {
            fill: #76139b;
        }

        & > svg {
            top:0.1rem;
            stroke-width: 1px;
            stroke: $score-screen-background;
        }

        & > svg:hover {
            stroke-width: 0.5px;
            stroke: $score-screen-background;
        }
    }

    & > svg {
        position: relative;
        width: 100%;
        height: 100%;

        & > g > g > g > path {
            fill: #f4acff;
        }

        &:hover {
            stroke-width: 0.3px;
            stroke: #f4acff;
        }
    }
}
.refreshPopUp {
    box-sizing: border-box;
    position: absolute;
    border-radius: 0.8rem;
    padding-bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    &.leader {
        top: -45%;
        border: 0.15rem solid #6600a3;
        background: #fd5aff;
        animation: fadeItIn 1s;
        animation-fill-mode: forwards;

        & > span {
            color: #8230b4;
            bottom: 0.15rem;
            margin: 0 0.5rem 0 0.5rem;
        }
    }

    &.leader.out {
        animation: fadeItOut 1.5s;
        animation-fill-mode: forwards;
    }

    &.avatar {
        top: -58%;
        padding: 0 5% 0 5%;
        border: 0.2rem solid $popUpBorder;
        background: $popUpBackground;
        padding: 0 1rem 0.1rem 1rem;
        color: $popUpBorder;
        box-shadow: 0px 8px 20px 8px rgba(216,59,255,0.4), 0px -8px 20px 8px rgba(216,59,255,0.4);
        animation: fadeItIn 1s 250ms;
        animation-fill-mode: forwards;
        &::after {
            content: "";
            position: absolute;
            border-top: 0.4rem solid $popUpBorder;
            border-left: 1.5rem solid transparent;
            border-right: 1.5rem solid transparent;
            left: 50%;
            top: 1.4rem;
            transform: translateX(-50%);
            box-shadow: 0px 8px 20px 8px rgba(216,59,255,0.4);
        }
    }

    &.avatar.out {
        animation: fadeItOut 750ms;
        animation-fill-mode: forwards;
    }

    & > span {
        position: relative;
        font-family: "Cascadia Code";
        font-size: 0.8rem;
        text-align: center;
        white-space: nowrap;
    }
}

@keyframes antiprogress {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}
.loading.selector {
    box-sizing:border-box;
    position: absolute;
    height:100%;
    left: 50%;
    transform: translateX(-50%);
    padding-top:0.4rem;
    & > svg {
        position: relative;
        height: 90%;
        transform: scaleX(-1) translateX(-50%);
        transform-origin: center;
        animation: antiprogress 5s linear infinite;
        stroke-width: 0.01rem;
        stroke: $container-background-color;

        & > g > g > g > path {
            fill: $score-screen-border;
        }
    }
}
.loaderFiller {
    box-sizing:border-box;
    position: relative;
    width: 100%;
    height: 0%;
    padding-bottom: 14%;
    & > canvas {
        position: absolute;
        height:100%;
        border-radius: 1rem;
    }
}
.loading.score {
    position: absolute;
    border-radius: 2.4rem;
    padding: 0.2rem 0 0.2rem 0;
    height: 90%;
    left: 50%;
    top: -50%;
    transform: translate(-50%,-50%);
    z-index: 2;

    & > svg {
        position: relative;
        height: 80%;
        left: 20%;
        transform: scaleX(-1) translateX(-50%);
        transform-origin: center;
        animation: antiprogress 5s linear infinite;
        stroke-width: 0.01rem;
        stroke: $container-background-color;

        & > g > g > g > path {
            fill: $container-border-color;
        }
    }
}
.popUp.selector {
    position: relative;
    text-align: center;
    left: 5%;
    & > span {
        color: #7d309b;
        font-family: "Cascadia Code";
        font-size: 1.5rem;
    }
}
.popUp.score {
    box-sizing: border-box;
    border-radius: 1rem;
    border: 0.2rem solid $container-background-color;
    background: $container-border-color;
    position: relative;
    padding: 0 1.2rem 0.1rem 1.2rem;
    box-shadow: 0 -8px 20px 0 rgba(237, 200, 235, 0.2), 0 8px 20px 0 rgba(237, 200, 235, 0.2);
    & > span {
        position:relative;
        display:inline-block;
        font-family: "Cascadia Code";
        font-size: 1.3rem;
        white-space:nowrap;
        color: #8f13bd;
    }
}

.loading.leader {
    position: relative;
    height:30%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    & > svg {
        position:relative;
        height:100%;
        left:32%;
        transform: scaleX(-1);
        transform-origin: center;
        animation: antiprogress 5s linear infinite;

        & > g > g > g > path {
            fill: $container-border-color;
        }
    }
}
.popUp.leader {
    height: 4rem;
    position: absolute;
    top: -4rem;
    left: 54%;
    transform: translateX(-50%);
    padding: 0 5% 0 5%;
    & > span {
        font-family: "Cascadia Code";
        font-size: 3rem;
        color: $container-border-color;
        white-space: nowrap;
    }
}
.avatarArrow {
    position: absolute;
    background: $container-border-color;
    border: solid $holder-border-color;
    bottom: 35%;
    display: inline-block;
    box-sizing: border-box;
    width: 14%;

    & > svg {
        position: relative;
        width: 85%;
        margin-top: 5%;
        height: fit-content;

        & > g > g > path {
            fill: $container-background-color;
        }
    }

    &.left {
        left: -13.95%;
        border-width: 0.3rem 0 0.3rem 0.3rem;
        border-radius: 2rem 0 0 2rem;
        box-shadow: 0 -8px 20px 0 rgba(237, 200, 235, 0.2), 0 8px 20px 0 rgba(237, 200, 235, 0.2);

        & > svg {
            margin-left: 8%
        }
    }

    &.right {
        right: -13.85%;
        border-width: 0.3rem 0.3rem 0.3rem 0;
        border-radius: 0 2rem 2rem 0;
        box-shadow: 0 -8px 20px 0 rgba(237, 200, 235, 0.2), 0 8px 20px 0 rgba(237, 200, 235, 0.2);

        & > svg {
            margin-left: 5%
        }
    }
}
@mixin generateFlyIn($name, $direction, $initial, $target){
    @keyframes #{$name}{
        0%{
            #{$direction}: $initial;
        }
        100%{
            #{$direction}:$target;
        }
    }
}
@mixin geneateTwinkle($name, $initial-O:0, $target-O, $rotate-initial:0, $rotate-target, $scale-inital, $scale-target, $values...){
    @keyframes #{$name}{
        0%{
            opacity:$initial-O;
            transform: rotate(#{$rotate-initial}deg) scale($scale-inital);
        }
        #{nth($values, 1)}%{
            opacity:$target-O;
        }
        #{nth($values, 2)}%{
            opacity:$initial-O;
            transform:rotate(#{$rotate-target}deg) scale($scale-target);
        }
        100%{
            opacity:$initial-O;
            transform:rotate(#{$rotate-initial}deg) scale($scale-inital);
        }
    }
}
//have to be here cause later I no longer use parent selector and we have a scope issue
$fly-in-duration: 500ms;
$light-switch-duration: 1500ms;
.errorPopup.container.leader.global, .errorPopup.container.scoreScreen, .errorPopup.container.fetch-songs-error {
    $padding-vertical: 0.7rem;
    $padding-horizontal: 0.8rem;
    $light-width: 40%;
    $light-height: 50%;
    $inset: -0.5rem;
    position: absolute;
    top: 40%;
    transform: translateX(-50%);
    background: transparent;
    border: 0.3rem solid transparent;
    border-radius: 1.8rem;
    @include generateFlyIn(fly-in, left, 20%, 45%);
    @include generateFlyIn(fly-slow, left,45%, 55%);
    @include generateFlyIn(fly-out, left, 55%, 75%);
    animation: fly-in $fly-in-duration ease-in 0s 1 normal forwards, fadeItIn $fly-in-duration ease-in 0s 1 normal forwards, 
    fly-slow $light-switch-duration linear $fly-in-duration 1 normal forwards, 
        fly-out $fly-in-duration ease-out $fly-in-duration+$light-switch-duration 1 normal forwards,
    fadeItOut $fly-in-duration ease-out $fly-in-duration+$light-switch-duration 1 normal forwards
    ;
    box-sizing: border-box;
    z-index:2;
    transition:opacity 500ms ease;
    & > .animation {
        position: absolute;
        inset: $inset $inset $inset $inset;
        border-radius: inherit;
        filter: blur(9px);
        background: transparent;
        z-index: 0;
        overflow: hidden;
        border: inherit;

        &::before, &::after {
            content: "";
            position: absolute;
            z-index: -1;
            width: $light-width;
            height: $light-height;
            background: magenta;
            border-radius:1rem;
        }

        &::before {
            left: -10%;
            top: -1.5rem;
            @include generateFlyIn(move-in-top, left, -10%, 70%);
            animation: move-in-top $light-switch-duration linear $fly-in-duration 1 normal forwards;
        }

        &::after {
            right: -10%;
            bottom: -1.5rem;
            @include generateFlyIn(move-in-bottom, right, -10%, 70%);
            animation: move-in-bottom $light-switch-duration linear $fly-in-duration 1 normal forwards;
        }
    }
    & > .wrapper {
        position: relative;
        background: #9316c2;
        border: 0.3rem solid lighten(#ff92ec, 5%);
        border-radius: inherit;

        & > span {
            text-align: center;
            color: #ff97e0;
            font-family: "Cascadia Code";
            font-size: 1.8rem;
            padding-left: $padding-horizontal;
            padding-right: $padding-horizontal;
            white-space: nowrap;
            display: block;

            &:nth-child(1) {
                padding-top: $padding-vertical - 0.2rem;
            }

            &:nth-child(2) {
                padding-bottom: $padding-vertical;
            }
        }
    }
    &.close{
        opacity:0;
    }
}
// these two (.twinkle.group, .twingle.path) transforms are copied... I don't know how SVGs work. but they totally change the way it looks into a nice 8 pointed star.
// things some people come up with are simply amazing.
.errorPopup.leader.global.twinkle, .errorPopup.scoreScreen.twinkle, .errorPopup.fetch-songs-error.twinkle {
    $twinkle-size: 4rem;
    position: absolute;
    width: $twinkle-size;
    height: $twinkle-size;
    top: -1rem;

    & > svg {
        position: relative;
        width: 100%;
        height: 100%;
    }
}
.errorPopup.leader.global.twinkle{ 
    right:0rem;
    &.offset{
        right:2rem;
    }
}
.errorPopup.scoreScreen.twinkle{ 
    right:-0.8rem;
    &.offset{
        right:-1.5rem;
    }
}
.errorPopup.leader.global.twinkle.group {
    transform: translate(42.5px, 42.5px);
}
.twinkle.large,.twinkle.large-2,.twinkle.small{
    opacity:0;
}
.errorPopup.leader.global.twinkle.large {
    @include geneateTwinkle(twinkle-large, 0, 1, 0, 360, 0, 1.5, 16.5,33);
    animation: twinkle-large 6s linear 0s 1 normal forwards;
}
.errorPopup.leader.global.twinkle.large-2 {
    @include geneateTwinkle(twinkle-large-2, 0,1,45,405,0,1.1,16,33);
    animation: twinkle-large-2 6s linear 0s 1 normal forwards;
}
.errorPopup.leader.global.twinkle.small {
    @include geneateTwinkle(twinkle-small, 0,1,0,-360,0,1.5,16,33);
    animation: twinkle-small 6s linear 0s 1 normal forwards;
}
.errorPopup.leader.global.twinkle.path {
    transform: translate(-42.50px,-42.50px);
}