@font-face {
    font-family: 'RocketRinder';
    src: url('./Game/Menu Components/fonts/RocketRinder.ttf') format('truetype');
}
@font-face {
    font-family: 'Mistral';
    src: url('./Game/Menu Components/fonts/Mistral.ttf') format('truetype');
}
@font-face {
    font-family: 'Cascadia Code';
    src: url('./Game/Menu Components/fonts/Cascadia.ttf') format('truetype');
}
@font-face {
    font-family: 'Alien Encounters';
    src: url('./Game/Menu Components/fonts/Alien-Encounters-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Holligate Signature Demo';
    src: url('./Game/Menu Components/fonts/Holligate Signature Demo.ttf') format('truetype');
}
@font-face {
    font-family: "Butter Cup";
    src: url('./Game/Menu Components/fonts/Butter Cup.otf') format('opentype');
}
body {
    cursor: url("./Game/Menu Components/Cursor/cursor50.png"), auto;
}
a {
    cursor: url("./Game/Menu Components/Cursor/pointer.png"), auto;
}
input, label {
    cursor: url("./Game/Menu Components/Cursor/cursor50.png"), auto;
}